.heroImage {
  background-image: url("/images/landingPage/hero/bgHero2.webp");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
/* Media Query untuk perangkat mobile */
@media (max-width: 425px) {
  .heroImage {
    background-image: url("/images/landingPage/hero/bgHero2-mobile.webp");
  }
}
.bg1 {
  background-image: url("/images/landingPage/bgShine.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.bg2 {
  background-image: url("/images/landingPage/hero/bgHero.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.pattern1 {
  background-image: url("/images/landingPage/pattern-01.svg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 75px;
}
