@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.status-dot {
  height: 10px;
  width: 10px;
}
.smallIcons {
  font-size: 8px;
}

@keyframes beat-fade-zoom {
  0% {
    transform: scale(1); /* Ukuran normal */
    opacity: 0.2; /* Opasitas penuh */
  }
  33% {
    transform: scale(1.2); /* Memperbesar */
    opacity: 1; /* Mengurangi opasitas */
  }
  66% {
    transform: scale(1); /* Kembali ke ukuran normal */
    opacity: 0.2; /* Opasitas penuh */
  }
  100% {
    transform: scale(1.2); /* Memperbesar lagi */
    opacity: 1; /* Mengurangi opasitas lagi */
  }
}

.fa-beat-fade-zoom {
  display: inline-block;
  animation: beat-fade-zoom 2s ease-in-out infinite;
}

.patternKalmaanaDark {
  background-image: url("/images/siteIdentity/pattern-kalamanacopy_dark.svg");
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: 150px;
}

.patternKalmaanaLight {
  background-image: url("/images/siteIdentity/pattern-kalamanacopy_light.svg");
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: 100px;
}
.notFoundBg {
  background-image: url("/images/landingPage/not-found.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
