/* src/app/globals.css */
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "mirka";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(97% 0.013 236.62);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}
.status-dot {
  height: 10px;
  width: 10px;
}
.smallIcons {
  font-size: 8px;
}

@keyframes beat-fade-zoom {
  0% {
    transform: scale(1); /* Ukuran normal */
    opacity: 0.2; /* Opasitas penuh */
  }
  33% {
    transform: scale(1.2); /* Memperbesar */
    opacity: 1; /* Mengurangi opasitas */
  }
  66% {
    transform: scale(1); /* Kembali ke ukuran normal */
    opacity: 0.2; /* Opasitas penuh */
  }
  100% {
    transform: scale(1.2); /* Memperbesar lagi */
    opacity: 1; /* Mengurangi opasitas lagi */
  }
}

.fa-beat-fade-zoom {
  display: inline-block;
  animation: beat-fade-zoom 2s ease-in-out infinite;
}

.patternKalmaanaDark {
  background-image: url("/images/siteIdentity/pattern-kalamanacopy_dark.svg");
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: 150px;
}

.patternKalmaanaLight {
  background-image: url("/images/siteIdentity/pattern-kalamanacopy_light.svg");
  /* background-attachment: fixed; */
  background-repeat: repeat;
  background-size: 100px;
}
.notFoundBg {
  background-image: url("/images/landingPage/not-found.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.yt-wrapper iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.huhuPattern {
background: radial-gradient(circle, #d6d6d7 10%, transparent 11%),radial-gradient(circle at bottom left, #d6d6d7 5%, transparent 6%),radial-gradient(circle at bottom right, #d6d6d7 5%, transparent 6%),radial-gradient(circle at top left, #d6d6d7 5%, transparent 6%),radial-gradient(circle at top right, #d6d6d7 5%, transparent 6%);
        background-size: 1em 1em;
}

.custom-radial {
  background-image:
    radial-gradient(circle, currentColor 10%, transparent 11%),
    radial-gradient(circle at bottom left, currentColor 5%, transparent 6%),
    radial-gradient(circle at bottom right, currentColor 5%, transparent 6%),
    radial-gradient(circle at top left, currentColor 5%, transparent 6%),
    radial-gradient(circle at top right, currentColor 5%, transparent 6%);
}

